html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




/*ここから*/
body{
  background-color: #f5f5f5;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-nav{
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    gap: 3rem;
    height: 80px;
    h1{
      margin-left: 2rem;
      a{
        svg{
          width: 100px;
          height: 30px;
        }
      }
    }
    nav{
      ul{
        display: flex;
        li{
          margin: 0 1rem;
          a{
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
  .info{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: .8rem;
    height: 80px;
    line-height: 80px;
    width: 200px;
    text-align: center;
  }
}
.mainvisual{
  img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 80px);
  }
}
.news{
  max-width: 1000px;
  margin: 7rem auto;
  h2{
    padding-bottom: 3rem;
    line-height: 1.5;
    font-weight: normal;
    margin-left: 1rem;
    .title{
      font-size: 2rem;
      letter-spacing: .7rem;
    }
    span{
      display: block;
    }
  }
  h2:after{
    content: "";
    width: 3rem;
    height: 1px;
    margin-top: 2rem;
    background-color: #000;
    display: block;
  }
  p{
    font-size: .9rem;
  }
  ul{
    display: flex;
    li{
      list-style: none;
      width: 100%;
      margin-left: 1rem;
      border-right: 1px solid black;
      padding-bottom: 1rem;
      padding-top: 0.5rem;
      p{
        margin-bottom: 1rem;
        span{
          padding: 3px 5px;
          background-color: black;
          color: white;
          margin-left: .5rem;
        }
      }
    }
    li:last-child{
      border-right: none;
    }
  }
}

.about{
  display: flex;
  align-items: flex-end;
  .about-img{
    width: 60%;
    img{
      object-fit: cover;
      height: 400px;
      width: 100%;
    }
  }
  .about-content{
    width: 40%;
    margin: 0 5rem;
    line-height: 2;
    h2{
      font-weight: normal;
      padding-bottom: 3rem;
      line-height: 1.5;
      .title{
        font-size: 2rem;
        letter-spacing: .7rem;
      }
      span{
        display: block;
      }
    }
    h2:after{
      content: "";
      width: 3rem;
      height: 1px;
      margin-top: 2rem;
      background-color: #000;
      display: block;
    }
    p{
      font-size: .9rem;
    }
  }
}

.business{
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 8rem;
  h2{
    font-weight: normal;
    padding-bottom: 3rem;
    line-height: 1.5;
    margin-left: 1rem;
    .title{
      font-size: 2rem;
      letter-spacing: .7rem;
    }
    span{
      display: block;
    }
  }
  h2:after{
    content: "";
    width: 3rem;
    height: 1px;
    margin-top: 2rem;
    background-color: #000;
    display: block;
  }
  .business-content{
    display: flex;
    gap: 3rem;
    margin: 0 10%;
    .left-content{
      width: 45%;
      margin-top: 10%;
      div{
        h4{
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
        }
        h4::before{
          border-top: 1px solid;
          content: "";
          width: 1rem;
          margin-right: .5rem; 
        }
        img{
          max-width: 100%;
          margin-bottom: 4rem;
        }
      }
    }
    .right-content{
      width: 45%;
      h4{
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
      }
      h4::before{
        border-top: 1px solid;
        content: "";
        width: 1rem;
        margin-right: .5rem; 
      }
      img{
        max-width: 100%;
        margin-bottom: 4rem;
      }
    }
  }
}

.company{
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 8rem;
  .com-content{
    width: 45%;
    padding: 6rem 4rem;
    background-color: white;
    h2{
      font-weight: normal;
      padding-bottom: 3rem;
      line-height: 1.5;
      .title{
        font-size: 2rem;
        letter-spacing: .7rem;
      }
      span{
        display: block;
      }
    }
    h2:after{
      content: "";
      width: 3rem;
      height: 1px;
      margin-top: 2rem;
      background-color: #000;
      display: block;
    }
    dl{
      display: flex;
      flex-wrap: wrap;
      line-height: 2;
      font-size: .9rem;
      dt{
        width: 18%;
      }
      dd{
        width: 82%;
      }
    }
  }
  .com-img{
    position: absolute;
    top: 15%;
    left: 50%;
    img{
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
  }
}
footer{
  background-color: white;
  .copy{
    max-width: 1000px;
    margin: 0 auto;
    .copy-right{
      font-size: .5rem;
      padding-bottom: 1.5rem;
    }
    .footer-one{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0;
      .logo{
        svg{
          width: 100px;
        }
      }
      .address{
        line-height: 1.5;
        font-size: .9rem;
      }
    }
  }
}


@media(max-width:900px){
  header{
    .header-nav{
      display: block;
      h1{
        margin-top: 1rem;
      }
      nav{
        margin-left: 1rem;
        margin-top: .5rem;
      }
    }
    .info{
      display: none;
    }
  }
  .news{
    width: 90%;
    ul{
      flex-direction: column;
    }
  }
  .about{
    flex-direction: column;
    .about-img{
      width: 100%;
    }
    .about-content{
      width: min(100%,90%);
      margin: 0 auto;
      margin-top: 2rem;
    }
  }
  .business{
    h2{
      margin-left: 3rem;
    }
    .business-content{
      flex-direction: column;
      gap: 0;
      width: 90%;
      margin: 0 auto;
      .left-content{
        width: 100%;
        margin-top: 0;
      }
      .right-content{
        width: 100%;
      }
    }
  }
  .company{
    position: static;
    .com-content{
      width: min(100%,90%);
      margin: 0 auto;
      padding: 2rem 0;
      h2,dl{
        margin: 0 1rem;
      }
      dl{
        flex-direction: column;
        dd{
          width: 90%;
          margin-left: 1rem;
        }
        dt{
          width: 90%;
        }
      }
    }
    .com-img{
      position: static;
      width: min(100%,90%);
      margin: 0 auto;
      margin-top: 2rem;
    }
  }
  footer{
    .copy{
      width: 90%;
      .footer-one{
        display: block;
        .logo{
          svg{
            height: 60px;
          }
        }
      }
    }
    
  }
}
@media(max-width:400px){
  header{
    .header-nav{
      height: 60px;
      nav{
        display: none;
      }
    }
  }
  .business{
    h2{
      .title{
        font-size: 7vw;
      }
    }
  }
  .company{
    .com-content{
      h2{
        .title{
          font-size: 7vw;
        }
      }
    }
  }
}